<div class="all">
    <div class="banner">
        <div class="form-text">
            <h2>Lorem ipsum dolor, sit </h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab omnis optio perspiciatis ullam est esse quasi possimus numquam harum corporis, in iste molestiae eius sint iusto, excepturi voluptatum aspernatur natus.</span>
            <button>Get Started!</button>
        </div>        
    </div>
    <img src="/src/assets/marca_d_agua_bluework-transformed.jpeg " alt="asdasdasads">
</div>  