main {
    width: 100%;
}

.inicio {
    display: flex;
    width: 100%;
    height: 100vh;
}

.inicio.imagePath {
    background-image: url('/src/assets/marca_d_agua_bluework-transformed.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

}

.background {
    height: 100%;
}

.inicio>.content{
    justify-content: flex-start;
}

.content-text {
    height: 40%;
}

.content-text p {
    font-size: 3em;
    font-weight: 500;
    color: #134b4d;
    line-height: 90px;
}
.content-text>button {
    padding: 15px;
    background-color: #003849;
    border-radius: 7px;
    font-size: 1.5em;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
  }
.content-text>button:hover {
  scale: 1.1;
}

.services {
    width: 100%;
    height: 100vh;
    background-size: cover;
  
  }
  
  .services>.container {
    display: grid;
    justify-content: center;
  }
  