<body>
    <main>
        <section class="inicio">
            <div class="container">
                <img src= imagePath>
                <div class="content-text">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea ex cupiditate modi sapiente alias.
                    </p>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, harum perspiciatis qui facere
                        consequuntur praesentium vero omnis? Itaque rerum doloribus culpa numquam placeat, nesciunt, in
                        iste vero debitis repudiandae natus?</span>
                    <button>Lorem Impsum</button>
                </div>
            </div>
        </section>

        <section class="services">
            <div class="container">
                <div class="title">
                    <h2>Serviços</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab pariatur, veritatis animi</p>
                </div>
            </div>
        </section>

    </main>
</body>