<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae necessitatibus voluptatibus expedita dignissimos corrupti? Debitis, id quia! Natus voluptatem consequatur vel, provident perspiciatis enim totam harum necessitatibus eligendi commodi exercitationem.
      </div>
      <div class="swiper-slide">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab amet natus quas velit officia explicabo expedita aspernatur quidem. Omnis quae quasi reiciendis reprehenderit alias sint eum aspernatur, officia deserunt? Ad!
      </div>
      <div class="swiper-slide">

      </div>
      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>

<script>
    const swiper = new Swiper('.swiper', {
       effect: 'flip',
       cssMode: true,
    });
</script>